<div class="flex">
    <div class="container">
        <div class="game flex">
            <input type="button" value="All">
            <input type="button" value="Oldschool">
            <input type="button" value="RS3">
        </div>
        <div class="text flex">
            <input type="text" placeholder="Name" [(ngModel)]="searchText" (keyup)="onSearch($event)">
            <input type="text" placeholder="Description" [(ngModel)]="searchText" (keyup)="onSearch($event)">
            <input type="text" placeholder="Author" [(ngModel)]="searchText" (keyup)="onSearch($event)">
        </div>
        <div class="select flex">
            <select>
                <option value="Category" disabled>Category</option>
                <option value="all">All</option>
                <option value="agility">Agility</option>
                <option value="combat">Combat</option>
                <option value="construction">Construction</option>
                <option value="cooking">Cooking</option>
                <option value="crafting">Crafting</option>
                <option value="divination">Divination</option>
                <option value="dungeoneering">Dungeoneering</option>
                <option value="farming">Farming</option>
                <option value="firemaking">Firemaking</option>
                <option value="fishing">Fishing</option>
                <option value="fletching">Fletching</option>
                <option value="herblore">Herblore</option>
                <option value="hunter">Hunter</option>
                <option value="magic">Magic</option>
                <option value="mining">Mining</option>
                <option value="mini_games">Mini-games</option>
                <option value="money_making">Money Making</option>
                <option value="prayer">Prayer</option>
                <option value="quests">Quests</option>
                <option value="ranged">Ranged</option>
                <option value="runecrafting">Runecrafting</option>
                <option value="slayer">Slayer</option>
                <option value="smithing">Smithing</option>
                <option value="thieving">Thieving</option>
                <option value="tools">Tools</option>
                <option value="woodcutting">Woodcutting</option>
            </select>
            <select>
                <option value="Price" disabled>Price</option>
                <option value="Free">Free</option>
                <option value="Premium">Premium</option>
            </select>
        </div>
    </div>
</div>

<div class="flex">
    <div *ngFor="let r of repeat | repeat; let i = index;" class="card shadow-1">
        <div class="title" [style.background-color]="colors[i]">Lorem Ipsum</div>
        <div class="body">
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut mi mauris. Sed mauris nisl, gravida consectetur sollicitudin
                quis, mollis id lorem. Morbi euismod in quam eget pellentesque. Nunc semper ac felis sit amet laoreet. Pellentesque
                cursus condimentum tempus. Nulla semper bibendum mi, in bibendum nisl tempor a. Etiam tincidunt viverra tortor.
                Sed vel venenatis ipsum, ac pretium nibh. Etiam vitae pretium quam. Etiam condimentum cursus augue in efficitur.
                Cras auctor erat at neque sollicitudin, a rhoncus orci tristique. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nam tincidunt tincidunt porta. Suspendisse in lacinia leo. Donec metus risus, maximus posuere
                lectus vulputate, condimentum lobortis nunc. Phasellus massa nibh, volutpat at mauris quis, dignissim mollis
                justo.
            </div>
        </div>
        <div class="footer">
            <div class="pricing">
                <div class="price">$0.00</div>
                <div class="duration">Per Month</div>
            </div>
            <div class="actions">
                <i class="material-icons info-icon">info</i>
                <i class="material-icons add-icon" [style.color]="colors[i]">add_circle</i>
                <!--<i class="material-icons remove-icon">remove_circle</i>-->
            </div>
        </div>
    </div>
</div>