#content {
  position: absolute;
  height: calc(100% - 102px);
  background-color: darkgray;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
}
#content #container {
  position: relative;
  min-width: 600px;
}
