#header {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 20px;
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #2264ae 28%, #207cca 67%, #207cca 100%, #3498e5 100%);
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #2264ae 28%, #207cca 67%, #207cca 100%, #3498e5 100%);
  background: linear-gradient(135deg, #1e5799 0%, #2264ae 28%, #207cca 67%, #207cca 100%, #3498e5 100%);
  border: 1px solid #1b599b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .left {
  float: left;
  height: 100%;
  width: 200px;
}
#header .left img {
  margin-right: 10px;
  position: relative;
  top: 3px;
  right: 5px;
}
#header .left label {
  position: relative;
  top: 7px;
  font-size: 20px;
}
#header .right {
  float: right;
  height: 100%;
  width: 200px;
  text-align: right;
  position: relative;
  right: 40px;
}
#header .right i {
  position: relative;
  top: 8px;
  right: 5px;
}
#header .right label {
  position: relative;
  top: 2px;
  font-size: 16px;
}
