<div id="navigation" class="transition shadow-2" [style.width.px]="shared.navigationWidth">
    <div class="top-menu" [class.expanded]="shared.navigationWidth == maxWidth">
        <i (click)="toggleNavigation()" class="material-icons menu-icon">menu</i>
        <label *ngIf="navigationOpen" class="navigation-label">NAVIGATION</label>
        <div *ngIf="navigationOpen" class="search">
            <i class="material-icons search-icon">search</i>
            <input type="text" placeholder="Search" [(ngModel)]="searchText">
        </div>
    </div>
    <div class="main-menu" [style.margin-top.px]="navigationOpen ? 15 : 0">
        <div *ngFor="let menu of menus | filterBy: searchText" class="menu-container">
            <div class="menu-item" [class.expanded]="isMenuExpanded(menu)" [class.selected]="isMenuSelected(menu)" (click)="onMenuClick(menu)">
                <i (click)="toggleNavigation(menu)" class="material-icons">{{menu.glyphicon}}</i>
                <label>{{menu.name}}</label>
                <span *ngIf="menu.children != null">
                    <i class="material-icons expand-icon" [class.expanded]="menu.expanded">{{isMenuExpanded(menu) ? 'expand_more' : 'expand_less'}}</i>
                </span>
            </div>
            <ng-container *ngIf="isMenuExpanded(menu)">
                <div *ngFor="let child of menu.children" class="menu-item-child" [class.selected]="isMenuSelected(child)" (click)="onMenuClick(child)">
                    <i class="material-icons">subdirectory_arrow_right</i>
                    <label>{{child.name}}</label>
                </div>
            </ng-container>
        </div>
    </div>
</div>