#navigation {
  color: rgba(0, 0, 0, 0.87);
  z-index: 1;
  height: calc(100% - 60px);
  position: relative;
  float: left;
  background-color: #DDDDDD;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}
#navigation .top-menu {
  margin-top: 10px;
  height: 40px;
}
#navigation .top-menu .menu-icon {
  font-size: 30px;
  position: relative;
  left: 15px;
}
#navigation .top-menu.expanded {
  height: 70px;
  text-align: right;
  padding-right: 10px;
}
#navigation .top-menu.expanded .menu-icon {
  float: right;
  left: 0;
  color: #2264AE;
}
#navigation .top-menu label.navigation-label {
  float: left;
  position: relative;
  font-size: 13px;
  height: 30px;
  color: #2264AE;
  left: 10px;
  top: 9px;
}
#navigation .top-menu .search {
  float: left;
  width: calc(100% - 10px);
  position: relative;
  border-top: 1px solid #8D8D8D;
  padding: 10px;
  top: 10px;
}
#navigation .top-menu .search .search-icon {
  float: left;
  width: 21px;
  height: 21px;
  font-size: 20px;
  color: #8D8D8D;
  position: relative;
  border: 1px solid #8D8D8D;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#navigation .top-menu .search input[type=text] {
  float: left;
  width: calc(88%);
  text-align: center;
  position: relative;
  right: 1px;
  height: 17px;
}
#navigation .main-menu {
  border-bottom: 1px solid #8D8D8D;
}
#navigation .main-menu .menu-container .menu-item {
  width: 250px;
  height: 40px;
  border-top: 1px solid #8D8D8D;
}
#navigation .main-menu .menu-container .menu-item .material-icons {
  height: 40px;
  width: 60px;
  font-size: 20px;
  position: relative;
  text-align: center;
  line-height: 40px;
}
#navigation .main-menu .menu-container .menu-item label {
  font-size: 15px;
  position: relative;
  height: 40px;
  bottom: 4px;
}
#navigation .main-menu .menu-container .menu-item .expand-icon {
  float: right;
  position: relative;
  width: 40px;
  text-align: center;
}
#navigation .main-menu .menu-container .menu-item .expand-icon.expanded {
  color: #2264AE;
}
#navigation .main-menu .menu-container .menu-item.expanded {
  background-color: #c9c9c9;
  color: #2264AE;
  border-bottom: 1px solid #8D8D8D;
}
#navigation .main-menu .menu-container .menu-item.expanded label {
  color: rgba(0, 0, 0, 0.87);
}
#navigation .main-menu .menu-container .menu-item.expanded:hover * {
  color: #2264AE;
}
#navigation .main-menu .menu-container .menu-item.selected {
  background-color: #2264AE;
  color: #FFFFFF;
}
#navigation .main-menu .menu-container .menu-item.selected:hover {
  color: #FFFFFF;
  box-shadow: none;
}
#navigation .main-menu .menu-container .menu-item-child {
  width: calc(100%-40px);
  height: 40px;
  padding-left: 40px;
  background-color: #c9c9c9;
  border-bottom: 1px solid #8D8D8D;
}
#navigation .main-menu .menu-container .menu-item-child .material-icons {
  font-size: 18px;
  position: relative;
  top: 9px;
  color: #2264AE;
}
#navigation .main-menu .menu-container .menu-item-child label {
  font-size: 15px;
  position: relative;
  top: 6px;
  left: 16px;
}
#navigation .main-menu .menu-container .menu-item-child:last-child {
  border-bottom: none;
}
#navigation .main-menu .menu-container .menu-item-child.selected {
  background-color: #2264AE;
  color: #FFFFFF;
}
#navigation .main-menu .menu-container .menu-item-child.selected .material-icons {
  color: #FFFFFF;
}
#navigation .main-menu .menu-container .menu-item-child.selected:hover {
  color: #FFFFFF;
  box-shadow: none;
}
#navigation .main-menu .menu-container .menu-item:hover,
#navigation .main-menu .menu-container .menu-item-child:hover {
  color: #1e5799;
  -webkit-box-shadow: inset 0px 0px 75px -15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 75px -15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 75px -15px rgba(0, 0, 0, 0.3);
}
#navigation:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
